<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <style>
      .trade{
          background: red!important;
      }

      .allPGL{
          background: rgb(241, 6, 241)!important;
      }

      .itemInSearch{
          margin: 10px;
          border-bottom: 4px solid rgb(70, 75, 70);
      }

      .itemInSearch:hover{
          background:#353233
      }
      .scrollbar::-webkit-scrollbar-track
      {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
      }

        .scrollbar::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .scrollbar
        {
            margin-left: 30px;
            float: left;
            height: 300px;
            width: 65px;
            background: #F5F5F5;
            overflow-y: scroll;
            margin-bottom: 25px;
        }
  </style>
</head>

<body class="body-wrapper">
    <% include ../partials/menu %>
    <% if(typeof itemPerPage === 'undefined') itemPerPage = 0 %>
    <input class="itemPerPage" type="hidden" value="<%= itemPerPage %>">

    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        <form action="" method="GET">
                            <div class="form-row">
                                <h2 style="color:rgb(227, 252, 0)">Tìm Kiếm Tên Nhân Vật</h2>
                                <div class="form-group col-md-10">
                                    <input name="c_name" type="text" class="form-control my-2 my-lg-0" id="ipSearchName" placeholder="Nhập tên nhân vật ít nhất 3 ký tự">
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i> Tìm Kiếm</button>
                                </div>

                                <div class="form-group col-md-10 divResult d-none scrollbar" style="overflow: auto;max-height: 50vh;background:#1a040d; padding: 10px;">

                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-result bg-gray">
                        <% if(typeof accounts !== 'undefined' && accounts.length > 0){ %>
                            <% if(typeof totalCount !== 'undefined' && totalCount.length > 0){ %>
                                <h2 class="totalAccount" total="<%= totalCount[0].count %>">Kết quả tìm kiếm</h2>
                                <p><%= totalCount[0].count %> tài khoản</p>
                            <% } %>
                        <% }else{ %>
                            <h2 class="totalAccount" total="0">Không tìm thấy kết quả nào</h2>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="category-sidebar">
    <form action="" id="formSubmit" method="GET">
        <input type="hidden" name="min" id="minPrice">
        <input type="hidden" name="max" id="maxPrice">

        <div class="widget filter">
            <h4 class="widget-header">Tên Nhân Vật</h4>
            <input id="c_nameIpFilter" type="text" name="c_name" class="form-control my-2 my-lg-0" placeholder="Nhập tên nhân vật">
        </div>

    <% if(typeof menuView.phais !== 'undefined' && menuView.phais.length > 0){ %>
        <div class="widget filter">
            <h4 class="widget-header">Phái</h4>
            <select name="phai" id="phai">
                <option value="all">Tất cả</option>
                <% menuView.phais.forEach(function(phai){ %>
                    <option value="<%= phai._id %>"><%= phai.name %></option>
                <% }) %>
            </select>
        </div>
    <% } %>
                
    <% if(typeof menuView.items !== 'undefined' && menuView.items.length > 0){ %>
        <% menuView.items.forEach(function(item){ %>
            <div class="widget category-list">
                <h4 class="widget-header"><%= item.name %></h4>
                <ul class="category-list">
                    <% item.properties.forEach(function(property){ %>
                        <li><div class="form-check">
                            <input name="<%= item.slug %>" value="<%= property._id %>" type="checkbox" class="form-check-input itemProperty" item="<%= item.slug %>" idProperty="<%= property._id %>">
                            <label class="form-check-label" for="<%= property._id %>"><%= property.name %></label>
                          </div></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        
    <% } %>
   
    
    <div class="widget filter">
        <h4 class="widget-header">Sắp xếp theo</h4>
        <select name="sort" id="selectSort">
            <option value="date-new">Mới Nhất</option>
            <option value="date-old">Cũ Nhất</option>
            <option value="price-high">Giá cao nhất</option>
            <option value="price-low">Giá thấp nhất</option>
        </select>
    </div>

    <div class="widget filter">
        <h4 class="widget-header">Hình thức</h4>
        <select name="transaction_type" id="transaction_type">
                <option value="sell">Bán</option>
                <option value="trade">Giao Lưu</option>
                <option value="all">Tất Cả</option>
        </select>
    </div>

    <div class="widget filter giaoluuArea">
        <h4 class="widget-header">Phái Giao Lưu</h4>
        <select name="phaigiaoluu" id="selectPhaiGiaoLuu">
            <% if(typeof menuView.phais !== 'undefined' && menuView.phais.length > 0){ %>
                <% menuView.phais.forEach(function(phai){ %>
                    <option value="<%= phai._id %>"><%= phai.name %></option>
                <% }) %>
                <option value="all">Tất cả</option>
            <% } %>
        </select>
    </div>
    
    <div class="widget price-range w-100 priceArea">
        <h4 class="widget-header">Giá</h4>
        <div class="block">
                            <input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="50000000" data-slider-step="100"
                            data-slider-value="[0,50000000]">
                    <div class="d-flex justify-content-between mt-2">
                            <span class="value">₫0 - ₫20,000,000</span>
                    </div>
        </div>
    </div>
    
    <% if(typeof bosungFields !== 'undefined' && bosungFields.length > 0) {%>
        <div class="widget product-shorting">
            <h4 class="widget-header">Bổ sung</h4>
            <% bosungFields.forEach(function(bosung){ %>
                <div class="form-check">
                    <label class="form-check-label">
                      <input name="bosung" class="form-check-input" type="checkbox" value="<%= bosung._id %>">
                      <%= bosung.name %>
                    </label>
                  </div>
            <% }) %>
        </div>
    <% } %>
        <button type="submit" class="btn btn-primary" id="searchBtn">Tìm </button>
    
    </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Sắp xếp</strong>
                                <select id="sortAccount">
                                    <option value="1">Gần đây</option>
                                    <option value="5">Cũ Nhất</option>
                                    <option value="2">Phổ biến nhất</option>
                                    <option value="3">Giá thấp nhất</option>
                                    <option value="4">Giá cao nhất</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="product-grid-list">
                        <div class="row mt-30 accountAreaRow">
                            <% if(typeof error !== 'undefined'){ %>
                                <h1><%= error %></h1>
                            <% } %>

                            <% if(typeof accounts !== 'undefined' && accounts.length > 0){ %>
                                <% accounts.forEach(account => { %>
                                    <% if(account.totalRate == null) 
                                        account.totalRate = 5
                                       if(account.transaction_type == 'trade')
                                        account.price = 0
                                    %>
                                    <div class="col-sm-12 col-lg-4 col-md-6 accountDiv" data-date="<%= account.originCreatedAt %>" data-rate="<%= account.totalRate %>" data-price="<%= account.price %>">
                                        <!-- product card -->
                        <div class="product-item bg-light">
                            <div class="card">
                                <div class="thumb-content">
                                    <% if(account.transaction_type === 'sell'){ %>
                                        <div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
                                    <% }else if(account.transaction_type === 'trade'){ %>
                                        <div class="price trade">Giao lưu <%= account.phaigiaoluu.name %></div>
                                    <% }else{ %>
                                        <div class="price allPGL">- Giao lưu <%= account.phaigiaoluu.name %> <br> hoặc <br>- Bán: <%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
                                    <% } %>
                                    <a href="/account/view-account/<%= account._id %>">
                                        <% if(typeof account.image !== 'object' || account.image.length === 0){
                                                account.image = [{url: 'no-image.png'}];
                                            }
                                        %>
                                        <img class="card-img-top" src="/images/data/<%= account.image[0].url %>" alt="Card image cap" height="180px">
                                    </a>
                                </div>
                                <div class="card-body" style="height: 232px;">
                                    <h4 style="height: 20px;" class="card-title"><a style="color:rgb(189, 121, 38)" href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
                                    <div class="product-ratings">
                                        <ul class="list-inline">
                                            <% if(account.totalRate == null) account.totalRate = 5%>
                                            <% for (let index = 0; index < Math.round(account.totalRate); index++){ %>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <% } %>
                                            <% for(let index =  Math.round(account.totalRate); index < 5; index++){ %>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <ul style="margin-bottom: 3px;" class="list-inline product-meta">
                                        <li class="list-inline-item">
                                            <a style="color: red" href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
                                        </li><br>
                                        <li class="list-inline-item">
                                            <a style="color: green" href=""><i class="fa fa-calendar"></i><%= account.createdAt %></a>
                                        </li>
                                    </ul>
                                    
                                    <p style="height: 75px; font-size: 12px; color: rgb(43, 177, 177);" class="card-text">
                                    - Server: <%= account.server.name %><br>
                                    - Tên nhân vật: <%= account.c_name %> <br>
                                    - Ngọc: <%= account.ngoc.name %> <br>
                                    - Điêu Văn: <%= account.dieuvan.name %> <br>
                                    - Võ Hồn: <%= account.vohon.name %>
                                    </p>

                                </div>
                            </div>
                        </div>
                        
                        
                        
                                                </div>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="navArea">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <% include ../partials/footer %>

<script src="/js/account/search.js"></script>
</body>

</html>