<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="body-wrapper">
    <% include ../partials/menu %>


    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="What are you looking for">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputCategory4" placeholder="Category">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4" placeholder="Location">
                                </div>
                                <div class="form-group col-md-2">
                                    
                                    <button type="submit" class="btn btn-primary">Search Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-result bg-gray">
                        <h2>Results For "Electronics"</h2>
                        <p>123 Results on 12 December, 2017</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="category-sidebar">
    <form action="" id="formSubmit" method="GET">
        <input type="hidden" name="min" id="minPrice">
        <input type="hidden" name="max" id="maxPrice">
    <% if(menuView.phais.length > 0){ %>
        <div class="widget filter">
            <h4 class="widget-header">Phái</h4>
            <select name="phai" id="phai">
                <% menuView.phais.forEach(function(phai){ %>
                    <option value="<%= phai._id %>"><%= phai.name %></option>
                <% }) %>
            </select>
        </div>
    <% } %>
                
    <% if(menuView.items.length > 0){ %>
        <% menuView.items.forEach(function(item){ %>
            <div class="widget category-list">
                <h4 class="widget-header"><%= item.name %></h4>
                <ul class="category-list">
                    <% item.properties.forEach(function(property){ %>
                        <li><div class="form-check">
                            <input name="<%= item.slug %>" value="<%= property._id %>" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="<%= property._id %>"><%= property.name %></label>
                          </div></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        
    <% } %>
   
    
    <div class="widget filter">
        <h4 class="widget-header">Sắp xếp theo</h4>
        <select name="createdAt">
            <option value="-1">Mới Nhất</option>
            <option value="1">Cũ Nhất</option>
        </select>
    </div>

    <div class="widget filter">
        <h4 class="widget-header">Hình thức</h4>
        <select name="transaction_type" id="transaction_type">
                <option value="sell">Bán</option>
                <option value="trade">Giao Lưu</option>
        </select>
    </div>

    <div class="widget filter giaoluuArea">
        <h4 class="widget-header">Phái Giao Lưu</h4>
        <select name="phaigiaoluu">
            <% menuView.phais.forEach(function(phai){ %>
                <option value="<%= phai._id %>"><%= phai.name %></option>
            <% }) %>
                <option value="all">Tất cả</option>
        </select>
    </div>
    
    <div class="widget price-range w-100 priceArea">
        <h4 class="widget-header">Giá</h4>
        <div class="block">
                            <input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="50000000" data-slider-step="1000"
                            data-slider-value="[0,50000000]">
                    <div class="d-flex justify-content-between mt-2">
                            <span class="value">₫0 - ₫50,000,000</span>
                    </div>
        </div>
    </div>
    
    <% if(bosungFields.length > 0) {%>
        <div class="widget product-shorting">
            <h4 class="widget-header">Bổ sung</h4>
            <% bosungFields.forEach(function(bosung){ %>
                <div class="form-check">
                    <label class="form-check-label">
                      <input name="bosung" class="form-check-input" type="checkbox" value="<%= bosung._id %>">
                      <%= bosung.name %>
                    </label>
                  </div>
            <% }) %>
        </div>
    <% } %>
        <button type="submit" class="btn btn-primary" id="searchBtn">Tìm </button>
    
    </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Short</strong>
                                <select>
                                    <option>Most Recent</option>
                                    <option value="1">Most Popular</option>
                                    <option value="2">Lowest Price</option>
                                    <option value="4">Highest Price</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="view">
                                    <strong>Views</strong>
                                    <ul class="list-inline view-switcher">
                                        <li class="list-inline-item">
                                            <a href="#" onclick="event.preventDefault();" class="text-info"><i class="fa fa-th-large"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="ad-list-view.html"><i class="fa fa-reorder"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid-list">
                        <div class="row mt-30">
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-1.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-2.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">Study Table Combo</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Furnitures</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-3.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-1.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-2.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">Study Table Combo</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Furnitures</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-3.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-1.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-2.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">Study Table Combo</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Furnitures</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="single.html">
                    <img class="card-img-top img-fluid" src="images/products/products-3.jpg" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
                            </div>
                        </div>
                    </div>
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================
    
    <% include ../partials/footer %>
<script src="/js/account/search.js"></script>
</body>

</html>