<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <style>
      .trade{
          background: red!important;
      }
  </style>
</head>

<body class="body-wrapper">
    <% include ../partials/menu %>


    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="What are you looking for">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputCategory4" placeholder="Category">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4" placeholder="Location">
                                </div>
                                <div class="form-group col-md-2">
                                    
                                    <button type="submit" class="btn btn-primary">Search Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-result bg-gray">
                        <% if(accounts.length > 0){ %>
                        <h2>Kết quả tìm kiếm</h2>
                        <p><%= totalCount[0].count %> tài khoản</p>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="category-sidebar">
    <form action="" id="formSubmit" method="GET">
        <input type="hidden" name="min" id="minPrice">
        <input type="hidden" name="max" id="maxPrice">
    <% if(menuView.phais.length > 0){ %>
        <div class="widget filter">
            <h4 class="widget-header">Phái</h4>
            <select name="phai" id="phai">
                <option value="all">Tất cả</option>
                <% menuView.phais.forEach(function(phai){ %>
                    <option value="<%= phai._id %>"><%= phai.name %></option>
                <% }) %>
            </select>
        </div>
    <% } %>
                
    <% if(menuView.items.length > 0){ %>
        <% menuView.items.forEach(function(item){ %>
            <div class="widget category-list">
                <h4 class="widget-header"><%= item.name %></h4>
                <ul class="category-list">
                    <% item.properties.forEach(function(property){ %>
                        <li><div class="form-check">
                            <input name="<%= item.slug %>" value="<%= property._id %>" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="<%= property._id %>"><%= property.name %></label>
                          </div></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        
    <% } %>
   
    
    <div class="widget filter">
        <h4 class="widget-header">Sắp xếp theo</h4>
        <select name="createdAt">
            <option value="-1">Mới Nhất</option>
            <option value="1">Cũ Nhất</option>
        </select>
    </div>

    <div class="widget filter">
        <h4 class="widget-header">Hình thức</h4>
        <select name="transaction_type" id="transaction_type">
                <option value="sell">Bán</option>
                <option value="trade">Giao Lưu</option>
                <option value="all">Tất Cả</option>
        </select>
    </div>

    <div class="widget filter giaoluuArea">
        <h4 class="widget-header">Phái Giao Lưu</h4>
        <select name="phaigiaoluu">
            <% menuView.phais.forEach(function(phai){ %>
                <option value="<%= phai._id %>"><%= phai.name %></option>
            <% }) %>
                <option value="all">Tất cả</option>
        </select>
    </div>
    
    <div class="widget price-range w-100 priceArea">
        <h4 class="widget-header">Giá</h4>
        <div class="block">
                            <input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="50000000" data-slider-step="1000"
                            data-slider-value="[0,50000000]">
                    <div class="d-flex justify-content-between mt-2">
                            <span class="value">₫0 - ₫50,000,000</span>
                    </div>
        </div>
    </div>
    
    <% if(bosungFields.length > 0) {%>
        <div class="widget product-shorting">
            <h4 class="widget-header">Bổ sung</h4>
            <% bosungFields.forEach(function(bosung){ %>
                <div class="form-check">
                    <label class="form-check-label">
                      <input name="bosung" class="form-check-input" type="checkbox" value="<%= bosung._id %>">
                      <%= bosung.name %>
                    </label>
                  </div>
            <% }) %>
        </div>
    <% } %>
        <button type="submit" class="btn btn-primary" id="searchBtn">Tìm </button>
    
    </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Sắp xết</strong>
                                <select>
                                    <option>Gần đây</option>
                                    <option value="1">Phổ biến nhất</option>
                                    <option value="2">Giá thấp nhất</option>
                                    <option value="4">Giá cao nhất</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="product-grid-list">
                        <div class="row mt-30">
                            <% if(accounts.length > 0){ %>
                                <% accounts.forEach(account => { %>
                                    <div class="col-sm-12 col-lg-4 col-md-6">
                                        <!-- product card -->
                        <div class="product-item bg-light">
                            <div class="card">
                                <div class="thumb-content">
                                    <% if(account.transaction_type === 'sell'){ %>
                                        <div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
                                    <% }else{ %>
                                        <div class="price trade">Giao lưu <%= account.phaigiaoluu.name %></div>
                                    <% } %>
                                    <a href="/account/view-account/<%= account._id %>">
                                        <img class="card-img-top" src="<%= account.image[0].url %>" alt="Card image cap" height="180px">
                                    </a>
                                </div>
                                <div class="card-body" style="height: 232px;">
                                    <h4 style="height: 43px;" class="card-title"><a href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
                                    <ul style="margin-bottom: 3px;" class="list-inline product-meta">
                                        <li class="list-inline-item">
                                            <a href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href=""><i class="fa fa-calendar"></i><%= account.createdAt %></a>
                                        </li>
                                    </ul>
                                    <p style="height: 62px; font-size: 10px" class="card-text">
                                    - Tên nhân vật: <%= account.c_name %> <br>
                                    - Ngọc: <%= account.ngoc.name %> <br>
                                    - Điêu Văn: <%= account.dieuvan.name %> <br>
                                    - Võ Hồn: <%= account.vohon.name %> <br>
                                    - Ám Khí: <%= account.amkhi.name %>
                                    </p>
                                    <div class="product-ratings">
                                        <ul class="list-inline">
                                            <% if(account.totalRate == null) account.totalRate = 5%>
                                            <% for (let index = 0; index < Math.round(account.totalRate); index++){ %>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <% } %>
                                            <% for(let index =  Math.round(account.totalRate); index < 5; index++){ %>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                                                </div>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Trước</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Tiếp</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================
    
    <% include ../partials/footer %>
<script src="/js/account/search.js"></script>
</body>

</html>