<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/plugins/iziToast/iziToast.min.css">
	<style> 
		.more-replies { 
				text-align: right;
			} 
		.more-replies:hover { 
			color:rgb(120, 199, 120); 
			cursor: pointer;
			text-align: right;
		} 
		.btnOwner {
			padding: .25rem .5rem;
			font-size: .875rem;
			line-height: 1.5;
			border-radius: .2rem;
		}
		.trade{
          background: red!important;
      }

      .allPGL{
          background: rgb(241, 6, 241)!important;
      }

      .itemInSearch{
          margin: 10px;
          border-bottom: 4px solid rgb(70, 75, 70);
      }

      .itemInSearch:hover{
          background:#353233
      }
	</style> 
</head>

<body class="body-wrapper">
	<% if(typeof csrfToken !== "undefined"){ %>
		<input type="hidden" id="_csrf" value="<%= csrfToken %>">
	<% } %>
	<% if(typeof account != "undefined"){ %>
		<input id="idAccount" type="hidden" value="<%= account._id %>">
	<% } %>
	<% if(typeof userSS !== "undefined"){ %>
		<input id="idUser" type="hidden" value= "<%= userSS._id %>">
		<input id="urlImage" type="hidden" value= "<%= userSS.urlImage %>">
	<% } %>
    <% include ../partials/menu %>
    
<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<% if(typeof error !== 'undefined'){ %>
						<h1><%= error %></h1>
					<% } %>
					<% if(typeof account !== 'undefined'){ %>
					<h1 style="color: rgb(0, 38, 255)" class="product-title"><%= account.title %></h1>
					<% if(account.status == 'done'){ %>
						<h1 style="color: green"><i class="fas fa-check"></i>   Tài khoản đã hoàn thành giao dịch</h1>
					<% } %>
					<div>
						<% for(let i = 0; i < account.totalRate; i++){ %>
							<span style="color: rgb(223, 223, 27)"><i class="fas fa-star"></i></span>
						<% } %>
						<% for(let i = account.totalRate; i < 5; i++){ %>
							<span style="color:  rgb(223, 223, 27)"><i class="far fa-star"></i></span>
						<% } %>
					</div>
					<% } %>
					<div class="product-meta">
						<ul class="list-inline">
							<% if(typeof account !== 'undefined'){ %>
							<li class="list-inline-item"><i class="fa fa-user-o"></i> Đăng bởi <a href=""><%= account.userId.name %></a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Phái<a href="/account/search?phai=<%= account.phai._id %> "><%= account.phai.name %></a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Ngọc<a href="/account/search?ngoc=<%= account.ngoc._id %>"><%= account.ngoc.name %></a></li>
							<li class="list-inline-item"><i class="fas fa-eye"></i> <%= account.totalView %></li>
							<% } %>
						</ul>
					</div>

					<% if(typeof account !== 'undefined' && account.isOwner) { %>
						<% if(account.status == 'pending'){ %>
							<a href="/account/edit-account/<%= account._id %>"><button type="button" class="btn btn-warning btn-sm btnOwner"><i class="fas fa-edit"></i>  Chỉnh sửa</button></a>
							<button type="button" id="btnMark" class="btn btn-success btn-sm btnOwner"><i class="fas fa-check"></i>  Đánh dấu hoàn thành</button>
						<% } %>
						<button type="button" id="btnRemove" class="btn btn-danger btn-sm btnOwner"><i class="fas fa-trash"></i>  Xoá</button>
					<% } %>

					<% if(typeof account !== 'undefined' && typeof collection !== 'undefined' && typeof userSS !== 'undefined') { %>
						<% if(!collection){ %>
							<button is-saved='false' type="button" id="btnSave" class="btn btn-info btn-sm btnOwner"><i class="fas fa-vote-yea"></i>  Lưu vào bộ sưu tập</button>
						<% }else{ %>
							<button is-saved='true' type="button" id="btnSave" class="btn btn-info btn-sm btnOwner"><i class="fas fa-close"></i>  Bỏ lưu</button>
						<% } %>
					<% } %>

					<% if(typeof images !== 'undefined' && images.length > 0) { %>
					<!-- product slider -->
					<div class="product-slider">
						<% images.forEach(img => { %>
							<div class="product-slider-item my-4 col-xs-3" data-image="/images/data/<%= img.url %>">
								<img class="img-fluid w-100" src="/images/data/<%= img.url %>" alt="product-img">
							</div>
						<% }) %>
					</div>
					<!-- product slider -->
					<% } %>

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">

							<li class="nav-item">
								<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="true">Chi tiết</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
								 aria-selected="false">Mô tả</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
								 aria-selected="false">Bình luận</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account"
								 aria-selected="false">Tài Khoản Khác</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">

							<% if(typeof account !== 'undefined'){ %>
								<div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									<h3 class="tab-title">Mô tả từ chủ tài khoản</h3>
									<% if(account.loinhan == ''){ %>
										<p>Không có mô tả</p>
									<% }else{ %>
										<div><%- account.loinhan %></div>
									<% } %>
								</div>
							<% } %>
							
							<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Chi tiết tài khoản</h3>
								<% if(typeof account !== 'undefined'){ %>
									<table class="table table-bordered product-table">
										<tbody>
											<tr>
												<% if(account.transaction_type == 'sell'){ %>
													<td>Bán</td>
													<td><%= account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
												<% }else{ %>
													<td>Giao Lưu</td>
													<td><%= account.phaigiaoluu.name %></td>
												<% } %>
											</tr>
											<tr>
												<td>Tên nhân vật</td>
												<td><%= account.c_name %></td>
											</tr>
											<tr>
												<td>Phái</td>
												<td><%= account.phai.name %></td>
											</tr>
											<tr>
												<td>Cấp</td>
												<td><%= account.level %></td>
											</tr>
											<tr>
												<td>Server</td>
												<td><%= account.server.name %> - <%= account.sub_server.name %></td>
											</tr>

											<% if(typeof listItems !== 'undefined' && listItems.length > 0){ %>
												<% listItems.forEach(item =>{ %>
													<tr>
														<td><%= item.name %></td>
														<% if(account[item.slug]){ %>
															<td><%= account[item.slug].name %></td>
														<% }else{ %>
															<td>Chưa có</td>
														<% } %>
													</tr>
												<% }) %>
											<% } %>
											
										</tbody>
									</table>
								<% } %>
								<% if(typeof addFields !== 'undefined' && addFields.length > 0) {%>
									<br>
									<h3 class="tab-title">Bổ sung</h3>
									<% addFields.forEach(function(bosung){ %>
										<table class="table table-bordered product-table">
											<tr>
												<td><span><i class="fa fa-check" aria-hidden="true"></i>   <%= bosung.fieldId.name %></span></td>
											</tr>
										</table>
								<% })} %>
							</div>

							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Bình Luận</h3>
								<div class="product-review">
								<div id="comment-section">

									
									
								</div>	

									<% if(typeof userSS === 'undefined'){ %>
									<div class="text-center">
										<p>Bạn chưa đăng nhập, vui lòng đăng nhập để có thể bình luận</p>
										<button id="loginFB" type="button" class="btn btn-info"><i class="fab fa-facebook-f"></i>  Đăng Nhập Với Facebook</button>
										<button id="loginGG" type="button" class="btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i>  Đăng Nhập Với Google</button>
									</div>
									<% }else{ %>
									<div class="review-submission">
										<h3 class="tab-title">Đăng Bình Luận</h3>
	
										<div class="rate">
											<img class="rounded-circle" width="60" height="60" src="<%= userSS.urlImage %>" alt="avater">
											<span><%= userSS.name %></span>
											<br>
										</div>
										<div class="review-submit">
												<div class="col-12">
													<textarea name="comment" id="comment" rows="5" class="form-control" placeholder="Bình luận"></textarea>
												</div>
												<div class="col-12">
													<div id="alert" class="alert alert-secondary d-none" role="alert">
														
													</div>
													<button id="submitBtn" type="button" class="btn btn-main">Đăng</button>
												</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>

							<div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
								<h3 class="tab-title">Những Tài Khoản Tương Tự</h3>
								<div class="product-grid-list">
									<div class="row mt-30 accountAreaRow">
										<% if(typeof relevantAccount  !== 'undefined' && relevantAccount.length > 0){ %>
											<% relevantAccount.forEach(function(account){ %>
										<div class="col-sm-12 col-lg-4 col-md-6 accountDiv" data-view="<%= account.totalView %>" data-rate="<%= account.totalRate %>" data-price="<%= account.price %>">
											<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<% if(account.transaction_type === 'sell'){ %>
											<div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
										<% }else if(account.transaction_type === 'trade'){ %>
											<div class="price trade">Giao lưu <%= account.phaigiaoluu.name %></div>
										<% }else{ %>
											<div class="price allPGL">- Giao lưu <%= account.phaigiaoluu.name %> <br> hoặc <br>- Bán: <%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
										<% } %>
										<a href="/account/view-account/<%= account._id %>">
											<img class="card-img-top" src="/images/data/<%= account.image %>" alt="Card image cap" height="180px">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a style="color:rgb(189, 121, 38)" href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
										<div class="product-ratings">
											<ul class="list-inline">
												<% if(account.totalRate == null) account.totalRate = 0%>
												<% for (let index = 0; index < Math.round(account.totalRate); index++){ %>
													<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<% } %>
												<% for(let index =  Math.round(account.totalRate); index < 5; index++){ %>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<% } %>
											</ul>
										</div>
										<ul style="margin-bottom: 3px;" class="list-inline product-meta">
											<li class="list-inline-item">
												<a style="color: red" href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
												<p style="padding: 0px; margin: 0px; display:inline-block; margin-left: 10px;font-size: 10px;"><i class="fas fa-eye"></i>  <%= account.totalView %></p>
											</li><br>
											<li class="list-inline-item">
												<a style="color: green" href=""><i class="fa fa-calendar"></i><%= account.createdAt %></a>
											</li>
										</ul>
										
										<p style="font-size: 12px; color: rgb(43, 177, 177);" class="card-text">
										- Đăng bởi: <a style="color:#9999ff" href="/user/<%= account.user._id %>/accounts"><%= account.user.name %></a> <br>
										- Server: <%= account.server.name %> (<%= account.sub_server.name %>)<br>
										- Tên nhân vật: <%= account.c_name %> <br>
										- Ngọc: <%= account.ngoc.name %> <br>
										- Điêu Văn: <%= account.dieuvan.name %> <br>
										- Võ Hồn: <%= account.vohon.name %>
										</p>
	
									</div>
								</div>
							</div>
										</div>
											<% }) %>
										<% } %>


									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<% if(typeof account !== 'undefined'){ %>
							<% if(account.transaction_type == 'sell'){ %>
								<h4>Bán</h4>
								<p><%=  account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></p>
							<% }else if(account.transaction_type == 'trade'){ %>
								<h4>Giao Lưu</h4>
								<p><%= account.phaigiaoluu.name %></p>
							<% }else{ %>
								<h4>Bán</h4>
								<p><%=  account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></p>
								<br>
								<p>hoặc</p>
								<br>
								<h4>Giao Lưu</h4>
								<p><%= account.phaigiaoluu.name %></p>
							<% } %>
						<% } %>
					</div>
					<!-- User Profile widget -->
					<div class="widget user text-center">
						<% if(typeof account !== 'undefined') { %>
							<%
							if(account.userId.type === 'web')
								account.userId.urlImage = '/images/member.png'
							if (account.userId.type === 'facebook')
								account.userId.urlImage = `http://graph.facebook.com/${account.userId.idFacebook}/picture?type=square`
							%>
						<img class="rounded-circle img-fluid mb-5 px-5" src="<%= account.userId.urlImage %>" alt="">
						<h4><a href=""><%= account.userId.name %></a></h4>
						<p class="member-time">Thành viên kể từ <%= account.userId.created_at %></p>
						<a href="/user/<%= account.userId._id %>/accounts" style="color: green"><i class="fas fa-cart-plus"></i>  Xem tất cả các tài khoản được đăng bởi <%= account.userId.name %></a>
						<ul class="list-inline mt-20">
							<% if(!account.isOwner){ %>
								<li class="list-inline-item"><a href="<%= account.contactFB %>" target="_blank" class="btn btn-contact d-inline-block  btn-success px-lg-5 my-1 px-md-3"><i class="fas fa-sms"></i>  Liên Hệ</a></li>
							<% } %>
							<% if(account.status == 'pending' && !account.isOwner){ %>
								<li class="list-inline-item"><a href="" class="btn btn-offer d-inline-block btn-warning ml-n1 my-1 px-lg-4 px-md-3"><i class="fab fa-accusoft"></i>    Đưa Ra 
									Đề Nghị</a></li>
							<% } %>
							<% if(typeof account.phone !== "undefined" && account.phone != null && !account.isOwner){ %>
								<li><a href="tel:<%= account.phone %>"><h6 style="font-size: 14px;letter-spacing: 0;color: #848484;"><i class="fa fa-phone" aria-hidden="true"></i> Gọi   <%= account.phone %></h6></a></li>
							<% } %>
							</ul>
						<% } %>
					</div>
					<!-- Map Widget -->
					<div class="widget map">
						<div class="map">
							<div id="map_canvas" data-latitude="10.823099" data-longitude="106.629662"></div>
						</div>
					</div>
					<!-- Rate Widget -->
					<div class="widget rate text-center">
						<% if(typeof rate !== 'undefined'){ %>
							<!-- Heading -->
							<% if(rate === null ){
								rate == 0
							%>
								<h5 class="widget-header text-center">Bạn đánh giá thế nào 
								<br>
								về tài khoản này</h5>
							<% }else{ %>
								<h5 class="widget-header text-center">Bạn đã đánh giá
								<br>
								về tài khoản này</h5>
							<% } %>
						<% } %>
						<% if(typeof userSS === 'undefined'){ %>
							<p>Bạn cần đăng nhập để đánh giá</p>
							<button id="loginFBRIGHT" type="button" class="btn-sm btn btn-info"><i class="fab fa-facebook-f"></i>  Đăng Nhập Với Facebook</button>
							<br>
							<p style=" margin: 0; padding:0">Hoặc</p>
							<button id="loginGGRIGHT" type="button" class="btn-sm btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i>  Đăng Nhập Với Google</button>
						<% }else{ %>
						<div id="sideAlert" class="alert alert-secondary d-none" role="alert">
							This is a secondary alert—check it out!
							</div>
							<% if(typeof rate !== 'undefined'){ %>
								<div class="starrr" data-rating="<%= rate %>"></div>
							<% } %>
						<% } %>
					</div>

					<div class="widget disclaimer">
						<h5 class="widget-header">Những lời khuyên về an toàn</h5>
						<ul>
							<li>- Giao dịch trung gian với những người uy tín</li>
							<li>- Khi mua hãy xem kĩ tài khoản tránh sai sót</li>
							<li>- Lưu ý những người giả mạo</li>
							<li>- Khi có giả mạo trên website hãy báo cáo</li>
						</ul>
					</div>
					<div class="widget coupon text-center">
						<p>Bạn có tài khoản cần bán? Hãy
							tạo bài đăng ngay.
						</p>
						<a href="/account/add-account" class="btn btn-transparent-white"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Tạo bài đăng</a>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
<script src="/plugins/iziToast/iziToast.min.js"></script>
<script src="/js/account/view-account.js"></script>

</body>

</html>