<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style> 
	.more-replies { 
			text-align: right;
		} 
		.more-replies:hover { 
			color:rgb(120, 199, 120); 
			cursor: pointer;
			text-align: right;
		} 
	</style> 
</head>

<body class="body-wrapper">
	<% if(typeof csrfToken !== "undefined"){ %>
		<input type="hidden" id="_csrf" value="<%= csrfToken %>">
	<% } %>
	<% if(typeof account != "undefined"){ %>
		<input id="idAccount" type="hidden" value="<%= account._id %>">
	<% } %>
	<% if(typeof userSS !== "undefined"){ %>
		<input id="urlImage" type="hidden" value= "<%= userSS.urlImage %>">
	<% } %>
    <% include ../partials/menu %>
    
<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<% if(typeof error !== 'undefined'){ %>
						<h1><%= error %></h1>
					<% } %>
					<% if(typeof account !== 'undefined'){ %>
					<h1 style="color: rgb(0, 38, 255)" class="product-title"><%= account.title %></h1>
					<div class="rateProduct" data-rating="<%= account.totalRate %> "></div>
					<% } %>
					<div class="product-meta">
						<ul class="list-inline">
							<% if(typeof account !== 'undefined'){ %>
							<li class="list-inline-item"><i class="fa fa-user-o"></i> Đăng bởi <a href=""><%= account.userId.name %></a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Phái<a href="/account/search?phai=<%= account.phai._id %> "><%= account.phai.name %></a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Ngọc<a href="/account/search?ngoc=<%= account.ngoc._id %>"><%= account.ngoc.name %></a></li>
							<li class="list-inline-item"><i class="fas fa-eye"></i> <%= account.totalView %></li>
							<% } %>
						</ul>
					</div>

					<% if(typeof images !== 'undefined' && images.length > 0) { %>
					<!-- product slider -->
					<div class="product-slider">
						<% images.forEach(img => { %>
							<div class="product-slider-item my-4 col-xs-3" data-image="/images/data/<%= img.url %>">
								<img width="730px" height="547px" class="img-responsive" src="/images/data/<%= img.url %>" alt="product-img">
							</div>
						<% }) %>
					</div>
					<!-- product slider -->
					<% } %>

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">

							<li class="nav-item">
								<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="true">Chi tiết</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
								 aria-selected="false">Lời nhắn</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
								 aria-selected="false">Bình luận</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">

							<% if(typeof account !== 'undefined'){ %>
								<div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									<h3 class="tab-title">Lời nhắn từ chủ tài khoản</h3>
									<% if(account.loinhan == ''){ %>
										<p>Không có lời nhắn</p>
									<% }else{ %>
										<p><%= account.loinhan %></p>
									<% } %>
								</div>
							<% } %>
							
							<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Chi tiết tài khoản</h3>
								<% if(typeof account !== 'undefined'){ %>
									<table class="table table-bordered product-table">
										<tbody>
											<tr>
												<% if(account.transaction_type == 'sell'){ %>
													<td>Bán</td>
													<td><%= account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
												<% }else{ %>
													<td>Giao Lưu</td>
													<td><%= account.phaigiaoluu.name %></td>
												<% } %>
											</tr>
											<tr>
												<td>Tên nhân vật</td>
												<td><%= account.c_name %></td>
											</tr>
											<tr>
												<td>Phái</td>
												<td><%= account.phai.name %></td>
											</tr>
											<tr>
												<td>Cấp</td>
												<td><%= account.level %></td>
											</tr>
											<tr>
												<td>Server</td>
												<td><%= account.server.name %></td>
											</tr>
											<tr>
												<td>Ngọc</td>
												<td><%= account.ngoc.name %></td>
											</tr>
											<tr>
												<td>Võ Hồn</td>
												<td><%= account.vohon.name %></td>
											</tr>
											<tr>
												<td>Ám Khí</td>
												<td><%= account.amkhi.name %></td>
											</tr>
											<tr>
												<td>Thần Khí</td>
												<td><%= account.thankhi.name %></td>
											</tr>
											<tr>
												<td>Tu Luyện</td>
												<td><%= account.tuluyen.name %></td>
											</tr>
											<tr>
												<td>Đồ</td>
												<td><%= account.doche.name %></td>
											</tr>
											<tr>
												<td>Điêu Văn</td>
												<td><%= account.dieuvan.name %></td>
											</tr>
											<tr>
												<td>Long Văn</td>
												<td><%= account.longvan.name %></td>
											</tr>
											
										</tbody>
									</table>
								<% } %>
								<% if(typeof addFields !== 'undefined' && addFields.length > 0) {%>
									<br>
									<h3 class="tab-title">Bổ sung</h3>
									<% addFields.forEach(function(bosung){ %>
										<table class="table table-bordered product-table">
											<tr>
												<td><span><i class="fa fa-check" aria-hidden="true"></i>   <%= bosung.fieldId.name %></span></td>
											</tr>
										</table>
								<% })} %>
							</div>
							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Bình Luận</h3>
								<div class="product-review">
								<div id="comment-section">

									
									
								</div>	

									<% if(typeof userSS === 'undefined'){ %>
									<div class="text-center">
										<p>Bạn chưa đăng nhập, vui lòng đăng nhập để có thể bình luận</p>
										<button id="loginFB" type="button" class="btn btn-info"><i class="fab fa-facebook-f"></i>  Đăng Nhập Với Facebook</button>
										<button id="loginGG" type="button" class="btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i>  Đăng Nhập Với Google</button>
									</div>
									<% }else{ %>
									<div class="review-submission">
										<h3 class="tab-title">Đăng Bình Luận</h3>
	
										<div class="rate">
											<img class="rounded-circle" width="60" height="60" src="<%= userSS.urlImage %>" alt="avater">
											<span><%= userSS.name %></span>
											<br>
										</div>
										<div class="review-submit">
												<div class="col-12">
													<textarea name="comment" id="comment" rows="5" class="form-control" placeholder="Bình luận"></textarea>
												</div>
												<div class="col-12">
													<div id="alert" class="alert alert-secondary d-none" role="alert">
														
													</div>
													<button id="submitBtn" type="button" class="btn btn-main">Đăng</button>
												</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<% if(typeof account !== 'undefined'){ %>
							<% if(account.transaction_type == 'sell'){ %>
								<h4>Bán</h4>
								<p><%=  account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></p>
							<% }else if(account.transaction_type == 'trade'){ %>
								<h4>Giao Lưu</h4>
								<p><%= account.phaigiaoluu.name %></p>
							<% }else{ %>
								<h4>Bán</h4>
								<p><%=  account.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></p>
								<br>
								<p>hoặc</p>
								<br>
								<h4>Giao Lưu</h4>
								<p><%= account.phaigiaoluu.name %></p>
							<% } %>
						<% } %>
					</div>
					<!-- User Profile widget -->
					<div class="widget user text-center">
						<% if(typeof account !== 'undefined') { %>
							<%
							if(account.userId.type === 'web')
								account.userId.urlImage = '/images/member.png'
							if (account.userId.type === 'facebook')
								account.userId.urlImage = `http://graph.facebook.com/${account.userId.idFacebook}/picture?type=square`
							%>
						<img class="rounded-circle img-fluid mb-5 px-5" src="<%= account.userId.urlImage %>" alt="">
						<h4><a href=""><%= account.userId.name %></a></h4>
						<p class="member-time">Thành viên kể từ <%= account.userId.created_at %></p>
						<a href="" style="color: green">Xem tất cả các tài khoản được đăng bởi <%= account.userId.name %></a>
						<ul class="list-inline mt-20">
							<li class="list-inline-item"><a href="<%= account.contactFB %>" target="_blank" class="btn btn-contact d-inline-block  btn-success px-lg-5 my-1 px-md-3"><i class="fas fa-sms"></i>  Liên Hệ</a></li>
							<li class="list-inline-item"><a href="" class="btn btn-offer d-inline-block btn-warning ml-n1 my-1 px-lg-4 px-md-3"><i class="fab fa-accusoft"></i>    Đưa Ra 
								Đề Nghị</a></li>
							<% if(typeof account.phone !== "undefined" && account.phone != null){ %>
								<li><a href="tel:<%= account.phone %>"><h6 style="font-size: 14px;letter-spacing: 0;color: #848484;"><i class="fa fa-phone" aria-hidden="true"></i> Gọi   <%= account.phone %></h6></a></li>
							<% } %>
							</ul>
						<% } %>
					</div>
					<!-- Map Widget -->
					<div class="widget map">
						<div class="map">
							<div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
						</div>
					</div>
					<!-- Rate Widget -->
					<div class="widget rate text-center">
						<% if(typeof rate !== 'undefined'){ %>
							<!-- Heading -->
							<% if(rate === null ){
								rate == 0
							%>
								<h5 class="widget-header text-center">Bạn đánh giá thế nào 
								<br>
								về tài khoản này</h5>
							<% }else{ %>
								<h5 class="widget-header text-center">Bạn đã đánh giá
								<br>
								về tài khoản này</h5>
							<% } %>
						<% } %>
						<% if(typeof userSS === 'undefined'){ %>
							<p>Bạn cần đăng nhập để đánh giá</p>
							<button id="loginFBRIGHT" type="button" class="btn-sm btn btn-info"><i class="fab fa-facebook-f"></i>  Đăng Nhập Với Facebook</button>
							<br>
							<p style=" margin: 0; padding:0">Hoặc</p>
							<button id="loginGGRIGHT" type="button" class="btn-sm btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i>  Đăng Nhập Với Google</button>
						<% }else{ %>
						<div id="sideAlert" class="alert alert-secondary d-none" role="alert">
							This is a secondary alert—check it out!
							</div>
							<% if(typeof rate !== 'undefined'){ %>
								<div class="starrr" data-rating="<%= rate %>"></div>
							<% } %>
						<% } %>
					</div>

					<div class="widget disclaimer">
						<h5 class="widget-header">Những lời khuyên về an toàn</h5>
						<ul>
							<li>- Giao dịch trung gian với những người uy tín</li>
							<li>- Khi mua hãy xem kĩ tài khoản tránh sai sót</li>
							<li>- Lưu ý những người giả mạo</li>
							<li>- Khi có giả mạo trên website hãy báo cáo</li>
						</ul>
					</div>
					<div class="widget coupon text-center">
						<p>Bạn có tài khoản cần bán? Hãy
							tạo bài đăng ngay.
						</p>
						<a href="" class="btn btn-transparent-white"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Tạo bài đăng</a>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
<script src="/js/account/view-account.js"></script>

</body>

</html>