<style>

</style>

<section style="margin-bottom:0px">
	<div style="margin-bottom:0px !important" class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
		<a class="navbar-brand" href="/">
			<img src="/images/logo.gif" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Trang chủ <span class="sr-only"></span></a>
				</li>

				<% if(typeof menuView !== 'undefined' && typeof menuView.phais !== 'undefined' && menuView.phais.length > 0){ %>
					<!-- Phái -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="phai" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phái</a>
						<ul class="dropdown-menu" aria-labelledby="phai">
						<% menuView.phais.forEach(function(phai){ %>
							<li class="dropdown-item" href="/account/search?phai=<%=phai._id%>"><a><%= phai.name %></a></li>						
						<% }) %>
							</ul>
				<% } %>
				</li>

				<% if(typeof menuView !== 'undefined' && typeof menuView.items !== 'undefined' && menuView.items.length > 0){ %>
				<!-- Item Propety -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thể loại</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown1">
							<% menuView.items.forEach(function(item){ %>
								<li class="dropdown-item dropdown">
									<a class="dropdown-toggle" id="<%= item._id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= item.name %></a>
									<ul class="dropdown-menu" aria-labelledby="<%= item._id %>">
										<% item.properties.forEach(function(property){ %>
											<li class="dropdown-item" href="/account/search?<%= item.slug %>=<%= property._id %>"><a href="/account/search?<%= item.slug %>=<%= property._id %>"><%= property.name %></a></li>
										<% }) %>
									</ul>
								</li>
							<% }) %>
						<% } %>
					</ul>
				</li>

				<!-- Contact -->
				<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hỗ trợ</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown2">
							<li class="dropdown-item" href="#"><a>Liên Hệ</a></li>
							<li class="dropdown-item" href="/user/profile/create-ticket"><a>Gửi Phiếu Hỗ Trợ</a></li>
						</ul>
				</li>

				<!-- Term & Condition -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Điều Khoản</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown3">
						<li class="dropdown-item" href="#"><a>Điều Khoản</a></li>
						<li class="dropdown-item" href="#"><a>Điều kiện và Quy tắc Đăng</a></li>
					</ul>
			</li>
			</ul>

			
			<form class="form-inline mt-2 mt-md-0">
				<ul class="navbar-nav ml-auto mt-10">
					<% if(typeof userSS != "undefined" && userSS){ %>
					<li class="nav-item dropdown dropdown-slide">
						<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img style="padding-bottom: 2px; margin-right: 10px;" src="<%= userSS.urlImage %>" width=50 height=40 class="rounded-circle" style="padding: 0; margin: 0">
							<%= userSS.name %>
						</a>
						<!-- Dropdown list -->
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/user/profile"><i class="fas fa-user"></i>  Thông Tin Cá Nhân</a>
							<a class="dropdown-item spanConversation" href="/user/chat"><i class="fas fa-comments"></i>  Tin nhắn</a>
							<a class="dropdown-item spanNotification" amount="<%= userSS.unReadNotifications %>" href="/user/profile/notifications"><i class="fas fa-bell"></i>
								<% if(userSS && userSS.unReadNotifications && !isNaN(userSS.unReadNotifications)){ %>
									<% if(userSS.unReadNotifications > 9){ %>
										<span class="badge badge-danger" >9+</span>
									<% }else{ %>
										<span class="badge badge-danger"><%= userSS.unReadNotifications %></span>
									<% } %>
								<% } %>
								Thông Báo
							</a>
							<% if(userSS && (userSS.role === 'admin' || userSS.role === 'moderator')){ %>
							<a class="dropdown-item" href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i>  Dashboard</a>
							<% } %>
							<a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i>  Đăng Xuất</a>
						</div>
					</li>
					<% }else{ %>
						<li class="nav-item">
							<div>
								<a style="margin-top: 10px;" class="nav-link login-button" href="/user/login">Đăng nhập</a>
							</div>
						</li>
					<% } %>
					
					<li class="nav-item">
						<a style="margin-top: 10px;" class="nav-link text-white add-button" href="/account/add-account"><i class="fa fa-plus-circle"></i> Tạo Bài Đăng</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</section>