<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
<style>

	.giaoluu{
		background: red !important;
	}

	
	.allPGL{
          background: rgb(241, 6, 241)!important;
      }

</style>

</head>

<body class="body-wrapper">

<!--===============================
=            Menu        =
================================-->
  <% include partials/menu %>

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h2 style="color:rgb(255, 0, 200); font-weight: bold;">Xin lưu ý: Đây là website hoàn toàn miễn phí giúp bạn có thể tìm mua tài khoản ưng ý nhanh chóng, không phải nạp tiền, chỉ cần chụp ảnh trang bị tài khoản của bạn lên để người khác có thể xem đồ đạc, không phải đưa thông tin lên!</h2>
					<h1>Thiên Long Shop </h1>
					<p>Tham gia và tìm những nick ưng ý <br> hiện đang có ở tất cả server hoặc tạo bài đăng để bán tài khoản</p><br>
					<div class="short-popular-category-list text-center">
						<% if(typeof mostSearch !== 'undefined' && mostSearch.length > 0){ %>
							<h2 style="color:rgb(2, 238, 2)">Những tìm kiếm phổ biến</h2>
							<ul class="list-inline">
								<% mostSearch.forEach(function(search){ %>
									<li class="list-inline-item">
										<a href="/account/search?<%= search.slug %>=<%= search.idProperty %>"><i class="fas fa-search"></i> <%= search.nameItem %> <%= search.nameProperty %></a>
									</li>
								<% }) %>
							</ul>
						<% } %>
					</div>
					
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
										<form action="/account/search" method="GET">
											<div class="form-row">
												<div class="form-group col-md-4">
													<input name="c_name" type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="Nhập tên nhân vật bạn muốn tìm kiếm">
												</div>
												<div class="form-group col-md-3">
													<% if(typeof phais !== 'undefined' && phais.length > 0){ %>
														<select name="phai" class="w-100 form-control mt-lg-1 mt-md-2">
															<option value="all">Tất cả</option>
															<% phais.forEach(function(phai){ %>
																<option value="<%= phai._id %>"><%= phai.name %></option>
															<% }) %>	
														</select>
													<% } %>
													
												</div>
												<div class="form-group col-md-3">
													<% if(typeof servers !== 'undefined' && servers.length > 0){ %>
														<select name="server" class="w-100 form-control mt-lg-1 mt-md-2">
															<% servers[0].properties.forEach(function(server){ %>
																<option value="<%= server._id %>"><%= server.name %></option>
															<% }) %>														
														</select>
													<% } %>
												</div>
												<div class="form-group col-md-2 align-self-center">
													<button type="submit" class="btn btn-primary">Tìm Kiếm</button>
												</div>
											</div>
										</form>
									</div>
								</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Xem nhiều</h2>
					<p>Những tài khoản được xem nhiều.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">

					<% if(typeof mostViewAccount !== 'undefined' && mostViewAccount.length > 0){ %>
						<% mostViewAccount.forEach(function(account){ %>
							
							<div class="col-sm-12 col-lg-4" style="width:370px; height: 500px;">
								 <div class="product-item bg-light">
								   <div class="card">
									  <div class="thumb-content"> 
										  <% if(account.transaction_type == 'sell'){ %>
										  	<div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div> 
										  <% }else if(account.transaction_type == 'trade'){ %>
											<div class="price giaoluu">Giao lưu <%= account.phaigiaoluu.name %></div> 
										  <% }else{ %>
											<div class="price allPGL">- Giao lưu <%= account.phaigiaoluu.name %> <br> hoặc <br>- Bán: <%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
											<% } %> %>
										 <a href="/account/view-account/<%= account._id %>">
										 <img width="315px" height="216px" class="card-img-top" src="images/data/<%= account.image.url %>" alt="Card image cap">
										 </a>
									  </div>
									  <div class="card-body">
										 <h4 class="card-title"><a href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
										 <ul class="list-inline product-meta">
											<li class="list-inline-item">
											   <a style="color: red" href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
											</li>
											<li class="list-inline-item">
											   <a href="#"><i class="fa fa-calendar"></i><%= account.createdAt %></a>
											</li>

											<li class="list-inline-item">
												<a href="#"><i class="fas fa-eye"></i><%= account.totalView %></a>
											 </li>
										 </ul>
										 <p class="card-text">
											 Server: <%= account.server.name %><br>
											 Tên nhân vật: <%= account.c_name %><br>
											 Ngọc: <%= account.ngoc.name %><br>
											 Điêu Văn: <%= account.dieuvan.name %><br>
											 Võ Hồn: <%= account.vohon.name %>
										 </p>
										 <div class="product-ratings">
											<ul class="list-inline">
												<% if(account.rate == null || account.rate == 0) account.rate = 5%>
												<% for(let i = 0; i < Math.floor(Number(account.rate)); i++){ %>
													<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<% } %>
											   <% for(let i = Math.floor(Number(account.rate)); i < 5; i++){ %>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
											   <% } %>
											</ul>
										 </div>
									  </div>
								   </div>
								</div>
							 </div> 
						<% }) %>
						
					<% } %>
				</div>
				<div class="col text-center">
					<a href="/account/search?sort=most-view"><button type="submit" class="btn btn-warning" style="font-weight: bold">Xem thêm <i class="fas fa-angle-double-right"></i></button></a>
				</div>
			</div>	
		</div>
		
	</div>
</section>


<!--===========================================
=            Recent account section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Mới Đăng</h2>
					<p>Những tài khoản vừa mới được đăng.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">

					<% if(typeof recentAccount !== 'undefined' && recentAccount.length > 0){ %>
						<% recentAccount.forEach(function(account){ %>
							
							<div style="width:370px; height: 500px;" class="col-sm-12 col-lg-4">
								 <div class="product-item bg-light">
								   <div class="card">
									  <div class="thumb-content"> 
										  <% if(account.transaction_type == 'sell'){ %>
										  	<div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div> 
										  <% }else if (account.transaction_type == 'trade'){ %>
											<div class="price giaoluu">Giao lưu <%= account.phaigiaoluu.name %></div> 
										  <% }else{ %>
											<div class="price allPGL">- Giao lưu <%= account.phaigiaoluu.name %> <br> hoặc <br>- Bán: <%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
											<% } %> %>
										 <a href="/account/view-account/<%= account._id %>">
										 <img width="340px" height="255px" class="card-img-top" src="images/data/<%= account.image.url %>" alt="Card image cap">
										 </a>
									  </div>
									  <div class="card-body">
										 <h4 class="card-title"><a href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
										 <ul class="list-inline product-meta">
											<li class="list-inline-item">
											   <a style="color: red" href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
											</li>
											<li class="list-inline-item">
											   <a href="#"><i class="fa fa-calendar"></i><%= account.createdAt %></a>
											</li>

											<li class="list-inline-item">
												<a href="#"><i class="fas fa-eye"></i><%= account.totalView %></a>
											 </li>
										 </ul>
										 <p class="card-text">
											 Server: <%= account.server.name %><br>
											 Tên nhân vật: <%= account.c_name %><br>
											 Ngọc: <%= account.ngoc.name %><br>
											 Điêu Văn: <%= account.dieuvan.name %><br>
											 Võ Hồn: <%= account.vohon.name %>
										 </p>
										 <div class="product-ratings">
											<ul class="list-inline">
												<% if(account.rate == null || account.rate == 0) account.rate = 5%>
												<% for(let i = 0; i < Math.floor(Number(account.rate)); i++){ %>
													<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<% } %>
											   <% for(let i = Math.floor(Number(account.rate)); i < 5; i++){ %>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
											   <% } %>
											</ul>
										 </div>
									  </div>
								   </div>
								</div>
							 </div> 
						<% }) %>
						
					<% } %>
				</div>
			</div>
			<div class="col text-center">
					<a href="/account/search?sort=date-new"><button type="submit" class="btn btn-success" style="font-weight: bold; margin-top: 20px;">Xem thêm <i class="fas fa-angle-double-right"></i></button></a>
				</div>
			
		</div>
	</div>
</section>


<% if (typeof accountEachServer !== 'undefined' && accountEachServer.length > 0){ %>
	<% accountEachServer.forEach(server =>{ %>
				<!--===========================================
		=           Each server account section            =
		============================================-->

		<section class="popular-deals section bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2><%= server.serverName %></h2>
							<p>Những tài khoản máy chủ <%= server.serverName %>.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- offer 01 -->
					<div class="col-lg-12">
						<div class="trending-ads-slide">

							<% if(typeof server.accounts !== 'undefined' && server.accounts.length > 0){ %>
								<% server.accounts.forEach(function(account){ %>
									
									<div style="width:370px; height: 500px;" class="col-sm-12 col-lg-4">
										<div class="product-item bg-light">
										<div class="card">
											<div class="thumb-content"> 
												<% if(account.transaction_type == 'sell'){ %>
													<div class="price"><%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div> 
												<% }else if (account.transaction_type == 'trade'){ %>
													<div class="price giaoluu">Giao lưu <%= account.phaigiaoluu.name %></div> 
												<% }else{ %>
													<div class="price allPGL">- Giao lưu <%= account.phaigiaoluu.name %> <br> hoặc <br>- Bán: <%= account.price.toLocaleString('en-US', {style : 'currency', currency : 'VND'}); %></div>
													<% } %> %>
												<a href="/account/view-account/<%= account._id %>">
												<img width="340px" height="255px" class="card-img-top" src="images/data/<%= account.image.url %>" alt="Card image cap">
												</a>
											</div>
											<div class="card-body">
												<h4 class="card-title"><a href="/account/view-account/<%= account._id %>"><%= account.title %></a></h4>
												<ul class="list-inline product-meta">
													<li class="list-inline-item">
													<a style="color: red" href="/account/search?phai=<%= account.phai._id %>"><i class="fa fa-folder-open-o"></i><%= account.phai.name %></a>
													</li>
													<li class="list-inline-item">
													<a href="#"><i class="fa fa-calendar"></i><%= account.createdAt %></a>
													</li>

													<li class="list-inline-item">
														<a href="#"><i class="fas fa-eye"></i><%= account.totalView %></a>
													</li>
												</ul>
												<p class="card-text">
													Server: <%= account.server.name %><br>
													Tên nhân vật: <%= account.c_name %><br>
													Ngọc: <%= account.ngoc.name %><br>
													Điêu Văn: <%= account.dieuvan.name %><br>
													Võ Hồn: <%= account.vohon.name %>
												</p>
												<div class="product-ratings">
													<ul class="list-inline">
														<% if(account.rate == null || account.rate == 0) account.rate = 5%>
														<% for(let i = 0; i < Math.floor(Number(account.rate)); i++){ %>
															<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
														<% } %>
													<% for(let i = Math.floor(Number(account.rate)); i < 5; i++){ %>
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<% } %>
													</ul>
												</div>
											</div>
										</div>
										</div>
									</div> 
								<% }) %>
								
							<% } %>
						</div>
					</div>
					<div class="col text-center">
							<a href="/account/search?server=<%= server.serverId %>"><button type="submit" class="btn btn-dark" style="font-weight: bold; margin-top: 20px;">Xem thêm <i class="fas fa-angle-double-right"></i></button></a>
						</div>
					
				</div>
			</div>
		</section>
	<% }) %>
<% } %>




<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>Tất cả danh mục</h2>
					<p>Những tài khoản được phân chia giúp bạn có thể dễ dàng tìm kiếm!</p>
				</div>
				<div class="row">
					<% const icon = ['fa-laptop icon-bg-1', 'fa-apple icon-bg-2', 'fa-home icon-bg-3', 'fa-shopping-basket icon-bg-4', 'fa-briefcase icon-bg-5', 'fa-car icon-bg-6', 'fa-paw icon-bg-7', 'fa-laptop icon-bg-8'] %>
					
					<% if(typeof items !== 'undefined' && items.length > 0){ %>
						<% for(let i = 0; i < items.length; i++){ %>
							<% let item = items[i]; 
							let iconTemp = null;
							%>
							<% if(i > (icon.length - 1)){
									if(i - icon.length > (icon.length - 1)){
										iconTemp = icon[0];
									}
										
									else{
										iconTemp = icon[Number(i - icon.length)];
									}
										
								}else{
									iconTemp = icon[i];
								}
							%>
										<!-- Category list -->
								<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
									<div class="category-block">
										<div class="header">
											<i class="fa <%= iconTemp %>"></i> 
											<h4><%= item.name %></h4>
										</div>
										<ul class="category-list" >
											<% item.properties.forEach(property =>{ %>
												<li><a href="/account/search?<%= item.slug %>=<%= property._id %>"><%= property.name %> <span><%= property.totalAccount %></span></a></li>
											<% }) %>
											
										</ul>
									</div>
								</div> <!-- /Category List -->
						<% } %>
					<% } %>
				
					
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>Bắt đầu ngay hôm nay để tiếp xúc nhiều hơn</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" href="/account/add-account"><i class="fa fa-plus-circle"></i> Tạo bài đăng</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" href="/account/search?createdAt=-1">Duyệt các tài khoản hiện đang có</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<% include partials/footer %>
<script src="/js/index.js"></script>
</body>

</html>



