<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/admin/head %>
  </head>
  <body>
    <% if(typeof csrfToken !== "undefined"){ %>
    <input type="hidden" id="_csrf" value="<%= csrfToken %>" />
    <% } %> <% include ../../partials/admin/menu %>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="pe-7s-pen text-success"> </i>
          </div>
          <div>
            Chỉnh sửa
            <div class="page-title-subheading">
              Chỉnh sửa item "<%= item.name %>".
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="itemId" value="<%= item._id %>">
    <div class="tab-content">
      <div
        class="tab-pane tabs-animation fade active show"
        id="tab-content-1"
        role="tabpanel"
      >
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h5 class="card-title">Chỉnh sửa</h5>
            <div id="alert" class="alert alert-primary d-none" role="alert">
              A simple primary alert—check it out!
            </div>
            <div class="position-relative row form-group">
              <label for="exampleEmail" class="col-sm-2 col-form-label"
                >Tên</label
              >
              <div class="col-sm-10">
                <input
                  name="title"
                  id="title"
                  value="<%= item.name %>"
                  placeholder="eg: Võ Hồn"
                  class="form-control"
                />
              </div>
            </div>
            <div class="position-relative row form-group">
              <label for="examplePassword" class="col-sm-2 col-form-label"
                >Slug</label
              >
              <div class="col-sm-10">
                <input
                  id="slug"
                  type="text"
                  name="slug"
                  value="<%= item.slug %>"
                  placeholder="eg: vohon"
                  class="form-control"
                />
              </div>
            </div>
            <div class="position-relative row form-check">
              <div class="col-sm-10 offset-sm-2">
                <button id="submit" class="btn btn-secondary">Lưu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../../partials/admin/footer %>
    <script src="/js/admin/item/edit-item.js"></script>
  </body>
</html>
