<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="body-wrapper">
  <% include ../partials/menu %>
<section class="ad-post bg-gray py-5">
    <div class="container">
        <form action="/user/add-account" method="post" enctype="multipart/form-data" >
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Đăng Bán Tài Khoản</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Tiêu Đề:</h6>
                            <input type="text" name="title" class="border w-100 p-2 bg-white text-capitalize" placeholder="Nick Full 6 + 7, tu cao,...">
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Tên Nhân Vật:</h6>
                            <input type="text" name="c_name" class="border w-100 p-2 bg-white text-capitalize" placeholder="">
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Cấp:</h6>
                            <input type="number" name="level" class="border w-100 p-2 bg-white text-capitalize" placeholder="" min="1" max="119">
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Phái:</h6>
                            <select name="phai" id="inputGroupSelect" class="w-100">
                                <% account.phai.forEach((eachPhai, i) =>{ %>
                                <option value="<%= i %>"><%= eachPhai %></option>
                                <% }) %>
                            </select>

                            <h6 class="font-weight-bold pt-4 pb-1">Võ Hồn:</h6>
                            <div class="row px-3">
                                <% account.vohon.forEach((eachVohon, i) => {  %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="vohon" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachVohon %></label>
                                </div>
                                <% }) %>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Ám Khí:</h6>
                            <div class="row px-3">
                                <% account.amkhi.forEach((eachAmkhi, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="amkhi" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachAmkhi %></label>
                                </div>
                                <% }) %>
                                
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Thần Khí:</h6>
                            <div class="row px-3">
                                <% account.thankhi.forEach( (eachThankhi, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="thankhi" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachThankhi %></label>
                                </div>    
                              <% }) %>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Tu Luyện:</h6>
                            <div class="row px-3">
                                <% account.tuluyen.forEach( (eachTuluyen, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="tuluyen" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachTuluyen %></label>
                                </div>
                              <% }) %>
                            </div>

                            

                        </div>
                        <div class="col-lg-6">

                          <h6 class="font-weight-bold pt-4 pb-1">Ngọc:</h6>
                            <div class="row px-3">
                                <% account.ngoc.forEach((eachNgoc, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="ngoc" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachNgoc %></label>
                                </div>          
                              <% }) %>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Đồ Chế:</h6>
                            <div class="row px-3">
                                <% account.doche.forEach((eachDoche, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="doche" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachDoche %></label>
                                </div>
                                <% }) %>
                            </div>

                          <h6 class="font-weight-bold pt-4 pb-1">Điêu Văn:</h6>
                            <div class="row px-3">
                                <% account.dieuvan.forEach((eachDieuvan, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="dieuvan" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachDieuvan %></label>
                                </div>
                                <% }) %>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Long Văn:</h6>
                            <div class="row px-3">
                                <% account.longvan.forEach((eachLongvan, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="radio" name="longvan" value="<%= i %>" id="personal" checked>
                                    <label for="personal" class="py-2"><%= eachLongvan %></label>
                                </div> 
                              <% }) %>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Bổ sung:</h6>
                            <div class="row px-3">
                                <% account.bosung.forEach((eachBosung, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="checkbox" name="bosung" value="<%= i %>" id="personal">
                                    <label for="personal" class="py-2"><%= eachBosung %></label>
                                </div> 
                              <% }) %>
                            </div>

                            <div class="price">
                                <h6 class="font-weight-bold pt-4 pb-1">Hình thức:</h6>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                        <input type="radio" name="option" value="ban" id="personal">
                                        <label for="personal" class="py-2">Bán</label>
                                    </div> 
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        <input type="number" name="price" class="border-0 py-2 w-100 price" placeholder="Giá: 1200000"
                                            id="price" min="0">
                                    </div>

                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                      <input type="radio" name="option" value="giaoluu" id="personal">
                                      <label for="personal" class="py-2">Giao lưu</label>
                                  </div> 
                                  <select name="phaigiaoluu" id="inputGroupSelect" class="w-100">
                                    <% account.phai.forEach((eachPhai, i) =>{ %>
                                    <option value="<%= i %>"><%= eachPhai %></option>
                                    <% }) %>
                                  </select>
                                </div>

                                <h6 class="font-weight-bold pt-4 pb-1">Lời nhắn:</h6>
                                <textarea name="loinhan" id="" class="border p-3 w-100" rows="7" placeholder="Viết thêm cho tài khoản này"></textarea>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Tải ảnh lên:</h6>
                            <div class="choose-file text-center my-4 py-4 rounded" id="dragArea">
                                <label for="file-upload">
                                    <span class="d-block btn bg-primary text-white my-3 select-files"><i class="fas fa-images"></i>  Chọn ảnh</span>
                                    <span class="d-block">Ảnh tải lên tối đa: 50</span>
                                    <input type="file" class="form-control-file d-none cmm" id="file-upload" name="images" accept="image/*" multiple>
                                    
                                </label>
                            </div>
                        </div>
                    </div>
            </fieldset>
            <!-- Post Your ad end -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
              <div class="row">
                <div class="gallery"></div>
                 
              </div>
          </fieldset>
          

            <!-- seller-information start -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Thông tin liên hệ</h3>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Link facebook:</h6>
                        <input type="text" placeholder="Link facebook" class="border w-100 p-2" name="contactfb" required>
                        <h6 class="font-weight-bold pt-4 pb-1">Số điện thoại:</h6>
                        <input type="text" placeholder="Tuỳ Chọn" class="border w-100 p-2">
                    </div>
                   
                </div>
            </fieldset>
            <!-- seller-information end-->

            <!-- ad-feature start -->
            <!-- <fieldset class="border bg-white p-4 my-5 ad-feature bg-gray">
                <div class="row">
                    <div class="col-lg-12">

                        <h3 class="pb-3">Make Your Ad Featured
                            <span class="float-right"><a class="text-right font-weight-normal text-success" href="#">What
                                    is featured ad ?</a></span>
                        </h3>

                    </div>
                    <div class="col-lg-6 my-3">
                        <span class="mb-3 d-block">Premium Ad Options:</span>
                        <ul>
                            <li>
                                <input type="radio" id="regular-ad" name="adfeature">
                                <label for="regular-ad" class="font-weight-bold text-dark py-1">Regular Ad</label>
                                <span>$00.00</span>
                            </li>
                            <li>
                                <input type="radio" id="Featured-Ads" name="adfeature">
                                <label for="Featured-Ads" class="font-weight-bold text-dark py-1">Top Featured Ads</label>
                                <span>$59.00</span>
                            </li>
                            <li>
                                <input type="radio" id="urgent-Ads" name="adfeature">
                                <label for="urgent-Ads" class="font-weight-bold text-dark py-1">Urgent Ads</label>
                                <span>$79.00</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 my-3">
                        <span class="mb-3 d-block">Please select the preferred payment method:</span>
                        <ul>
                            <li>
                                <input type="radio" id="bank-transfer" name="adfeature">
                                <label for="bank-transfer" class="font-weight-bold text-dark py-1">Direct Bank Transfer</label>
                            </li>
                            <li>
                                <input type="radio" id="Cheque-Payment" name="adfeature">
                                <label for="Cheque-Payment" class="font-weight-bold text-dark py-1">Cheque Payment</label>
                            </li>
                            <li>
                                <input type="radio" id="Credit-Card" name="adfeature">
                                <label for="Credit-Card" class="font-weight-bold text-dark py-1">Credit Card</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset> -->
            <!-- ad-feature start -->

            <!-- submit button -->
            <div class="checkbox d-inline-flex">
                <input type="checkbox" id="terms-&-condition" class="mt-1">
                <label for="terms-&-condition" class="ml-2">Bằng cách nhấp chuột, bạn phải đồng ý với
                    <span> <a class="text-success" href="terms-condition.html">Điều khoản & Điều kiện và Quy tắc Đăng.</a></span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary d-block mt-2">Đăng</button>
        </form>
    </div>
</section>
<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
<script src="/js/add-account.js"></script>
</body>

</html>