<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="body-wrapper">
  <% include ../partials/menu %>
<section class="ad-post bg-gray py-5">
    <div class="container">
        <form id="formSubmit" action="/user/add-account" method="post" enctype="multipart/form-data" >
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Đăng Tài Khoản</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Tiêu Đề:</h6>
                            <input id="title" type="text" name="title" class="border w-100 p-2 bg-white text-capitalize" placeholder="Nick Full 6 + 7, tu cao,..." required>
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Tên Nhân Vật:</h6>
                            <input id="nameCharacter" type="text" name="c_name" class="border w-100 p-2 bg-white text-capitalize" placeholder="" required>
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Cấp:</h6>
                            <input id="level" type="number" name="level" class="border w-100 p-2 bg-white text-capitalize" placeholder="" min="1" max="119" required>
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Phái:</h6>
                            <select name="phai" id="inputGroupSelect" class="w-100">
                                <% phais.forEach((eachPhai, i) =>{ %>
                                <option value="<%= eachPhai._id %>"><%= eachPhai.name %></option>
                                <% }) %>
                            </select>
                            

                            <% for(let i = 0; i < Math.floor(items.length / 2); i++){ %>
                                <h6 class="font-weight-bold pt-4 pb-1"><%= items[i].name %></h6>
                                <div class="row px-3">
                                <% items[i].detail.forEach(option => {  %>
                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                        <input type="radio" name="<%= items[i].slug %>" value="<%= option._id %>" id="personal" checked>
                                        <label for="personal" class="py-2"><%= option.name %></label>
                                    </div>
                                    <% }) %>
                                </div>
                            <% } %>    

                        </div>
                        <div class="col-lg-6">
                            <% let number = items.length;
                                if(number % 2 === 0 ){ 
                                    number = Math.round(items.length / 2);
                                 }else{ 
                                    number = Math.round(items.length / 2) - 1;
                                 } %>
                            <% for(let i = number; i < items.length; i++){ %>
                                <h6 class="font-weight-bold pt-4 pb-1"><%= items[i].name %></h6>
                                <div class="row px-3">
                                <% items[i].detail.forEach(option => {  %>
                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                        <input type="radio" name="<%= items[i].slug %>" value="<%= option._id %>" id="personal" checked>
                                        <label for="personal" class="py-2"><%= option.name %></label>
                                    </div>
                                    <% }) %>
                                </div>
                            <% } %>

                        

                            <h6 class="font-weight-bold pt-4 pb-1">Bổ sung:</h6>
                            <div class="row px-3">
                                <% addFields.forEach((eachBosung, i) => { %>
                                <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                    <input type="checkbox" name="bosung" value="<%= eachBosung._id %>" id="personal">
                                    <label for="personal" class="py-2"><%= eachBosung.name %></label>
                                </div> 
                              <% }) %>
                            </div>

                            <div class="price">
                                <h6 class="font-weight-bold pt-4 pb-1">Hình thức:</h6>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                        <input id="banRadio" type="radio" name="postType" value="ban" id="personal" checked>
                                        <label for="personal" class="py-2">Bán</label>
                                    </div> 
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        <input id="priceSell" type="number" name="price" class="border-0 py-2 w-100 price" placeholder="Nhập Giá"
                                            id="price" min="0">
                                    </div>

                                    <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                      <input id="giaoluuRadio" type="radio" name="postType" value="giaoluu" id="personal">
                                      <label for="personal" class="py-2">Giao lưu</label>
                                  </div> 

                                  <select name="phaigiaoluu" id="inputGroupSelect" class="w-100">
                                    <% phais.forEach((eachPhai, i) =>{ %>
                                    <option value="<%= eachPhai._id %>"><%= eachPhai.name %></option>
                                    <% }) %>
                                    </select>

                                </div>

                                <h6 class="font-weight-bold pt-4 pb-1">Mô tả:</h6>
                                <textarea name="loinhan" id="" class="border p-3 w-100" rows="7" placeholder="Viết thêm mô tả cho tài khoản này"></textarea>
                            </div>

                            <h6 class="font-weight-bold pt-4 pb-1">Tải ảnh lên:</h6>
                            <div class="choose-file text-center my-4 py-4 rounded" id="dragArea">
                                <label for="file-upload">
                                    <span class="d-block font-weight-bold text-dark">Kéo ảnh vào đây để tải lên</span>
                                    <span class="d-block">hoặc</span>
                                    <span class="d-block btn bg-primary text-white my-3 select-files"><i class="fas fa-images"></i>  Chọn ảnh</span>
                                    <span class="d-block">Ảnh tải lên tối đa: 50</span>
                                    <input type="file" class="form-control-file d-none cmm" id="file-upload" name="images" accept="image/*" multiple>
                                    
                                </label>
                            </div>
                        </div>
                    </div>
            </fieldset>
            <!-- Post Your ad end -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
              <div class="row">
                <div class="gallery"></div>
                 
              </div>
          </fieldset>
          

            <!-- seller-information start -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Thông tin liên hệ</h3>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Link facebook:</h6>
                        <input type="text" placeholder="https://www.facebook.com/" class="border w-100 p-2" name="contactfb" required>
                        <h6 class="font-weight-bold pt-4 pb-1">Số điện thoại:</h6>
                        <input name="phone" type="text" placeholder="Tuỳ Chọn" class="border w-100 p-2">
                    </div>
                   
                </div>
            </fieldset>
       

            <!-- submit button -->
            <div class="checkbox d-inline-flex">
                <input id="conditionCB" type="checkbox" id="terms-&-condition" class="mt-1">
                <label for="terms-&-condition" class="ml-2">Bằng cách nhấp chuột, bạn phải đồng ý với
                    <span> <a class="text-success" href="terms-condition.html">Điều khoản & Điều kiện và Quy tắc Đăng.</a></span>
                </label>
            </div>
            <div id="alert" class="alert alert-danger d-none" role="alert">
                This is a danger alert—check it out!
              </div>
            <button id="submit" type="submit" class="btn btn-primary d-block mt-2">Đăng</button>
        </form>
    </div>
</section>
<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
<script src="/js/user/add-account.js"></script>
</body>

</html>