<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/plugins/DataTables/datatables.min.css"/>
  <style>
      
      .titleP{
          color:red!important;
      }
      .titleP:hover{
          color: rgb(165, 53, 59)!important;
      }

      .nameP{
          color: rgb(66, 129, 138)!important;
      }
      .nameP:hover{
          color: rgb(9, 198, 223)!important;
      }

      .btnEdit{
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        margin: 5px;
      }

      .btnRemove{
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        margin: 5px;
      }

      .btnMarkAsDone{
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        margin: 5px;
      }

      .btnLock{
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        margin: 5px;
      }
      .btnSee{
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        margin: 5px;
      }

      #table_id {
        table-layout: fixed;
    width: 100%; 
        }

  </style>
</head>

<body class="body-wrapper">

  <% include ../partials/menu %>
  <% if(typeof csrfToken !== "undefined"){ %>
    <input type="hidden" id="_csrf" value="<%= csrfToken %>">
  <% } %>
  <section class="user-profile section">
	<div class="container">
		<div class="row">
            <% if(typeof error !== 'undefined'){ %>
                <h1><%= error %></h1>
            <% } %>

            <% if(typeof accounts !== 'undefined' && typeof user !== 'undefined'){ %>
                <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <div class="widget user">
                            <!-- User Image -->
                            <div class="image d-flex justify-content-center">
                                <img src="<%= user.urlImage %>" alt="" class="">
                            </div>
                            <!-- User Name -->
                            <h5 class="text-center"><%= user.name %></h5>
                            <div class="text-center">
                                <p>Tham gia vào ngày <%= user.created_at %></p>
                                <% if(user.type == "google"){ %>
                                        <i title="Xác thực với Google" style="color:red!important"  class="fab fa-google"></i>
                                <% }else if(user.type == "facebook"){ %>
                                        <i title="Xác thực với Facebook" style="color: blue" class="fab fa-facebook-f"></i>
                                <% } %>
                            </div>
                        </div>
                        <!-- Dashboard Links -->
                        <div class="widget dashboard-links">
                            <ul>
                                <li><a  class="my-1 d-inline-block" href="/user/profile"><i class="fas fa-user-circle"></i>  Thông tin cá nhân</a></li>
                                <li><a style="color: green" class="my-1 d-inline-block" href="/user/profile/accounts"><i class="fas fa-cart-plus"></i>   Tài khoản đã đăng</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/notifications"><i class="fas fa-bell" aria-hidden="true"></i>
                                    <% if(userSS && userSS.unReadNotifications && !isNaN(userSS.unReadNotifications)){ %>
                                        <% if(userSS.unReadNotifications > 9){ %>
                                            <span class="badge badge-danger">9+</span>
                                        <% }else{ %>
                                            <span class="badge badge-danger"><%= userSS.unReadNotifications %></span>
                                        <% } %>
                                    <% } %>
                                    
                                    Thông báo của bạn</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/collections"><i class="fas fa-bookmark"></i>   Bộ sưu tập</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/activities"><i class="far fa-clock"></i>   Hoạt động gần đây</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/reports"><i class="fas fa-flag"></i>   Báo cáo</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/tickets"><i class="fas fa-ticket-alt"></i>  Hỗ trợ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>    

                <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                    <!-- Edit Profile Welcome Text -->
                    <div class="widget welcome-message">
                        <h2><i class="fas fa-cart-arrow-down"></i>   Danh sách tài khoản đã đăng của bạn</h2>
                        <p>- Bạn có thể sắp xếp theo cột bằng cách nhấp vào cột cần sắp xếp (cột có kí hiệu mũi tên lên xuống)</p>
                        <p>- Bạn có thể tìm kiếm thông qua ô tìm kiếm, những cột sau đây được tìm kiếm sau khi bạn nhập từ khoá:</p>
                        <p>+ Id (lấy id ở cuối url, ví dụ: /view-account/53detcdee ở đây '53detcdee' là id) </p>
                        <p>+ Tiêu đề</p>
                        <p>+ Tên nhân vật</p>
                        <p>+ Server</p>
                        <p>+ Hình thức giao dịch</p>
                        <p>+ Giá (chỉ cần nhập số, ví dụ tìm tài khoản đ300.000 nhập 300000)</p>
                        <p>+ Phái giao lưu</p>
                        <p>+ Ngọc</p>
                        <p>+ Trạng thái</p>
                    </div>

                    
                </div>

                <table id="table_id" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Hình ảnh</th>
                            <th>Tiêu đề</th>
                            <th>Tên nhân vật</th>
                            <th>Trạng thái</th>
                            <th>Phái</th>
                            <th>Server</th>
                            <th>Hình thức</th>
                            <th>Giá</th>
                            <th>Phái Giao lưu</th>
                            <th>Ngọc</th>
                            <th>Ngày Đăng</th>
                            <th>Đánh Giá</th>
                            <th>Lượt Xem</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                </table>

            <% } %>
		</div>
	</div>
</section>



<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
 
<script src="/plugins/DataTables/datatables.min.js"></script>
<script src="/js/user/profile-account.js"></script>

</body>

</html>