<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/plugins/Trumbowyg/trumbowyg.min.css">
</head>

<body class="body-wrapper">

  <% include ../partials/menu %>
  <% if(typeof csrfToken !== "undefined"){ %>
    <input type="hidden" id="_csrf" value="<%= csrfToken %>">
  <% } %>
  <section class="user-profile section">
	<div class="container">
		<div class="row">
            <% if(typeof error !== 'undefined'){ %>
                <h1><%= error %></h1>
            <% } %>

            <% if(typeof user !== 'undefined'){ %>
                <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <div class="widget user">
                            <!-- User Image -->
                            <div class="image d-flex justify-content-center">
                                <img src="<%= user.urlImage %>" alt="" class="">
                            </div>
                            <!-- User Name -->
                            <h5 class="text-center"><%= user.name %></h5>
                            <div class="text-center">
                                <p>Tham gia vào ngày <%= user.created_at %></p>
                                <% if(user.type == "google"){ %>
                                        <i title="Xác thực với Google" style="color:red!important"  class="fab fa-google"></i>
                                <% }else if(user.type == "facebook"){ %>
                                        <i title="Xác thực với Facebook" style="color: blue" class="fab fa-facebook-f"></i>
                                <% } %>
                            </div>
                        </div>
                        <!-- Dashboard Links -->
                        <div class="widget dashboard-links">
                            <ul>
                                <li><a  class="my-1 d-inline-block" href="/user/profile"><i class="fas fa-user-circle"></i>  Thông tin cá nhân</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/accounts"><i class="fas fa-cart-plus"></i>   Tài khoản đã đăng</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/notifications"><i class="fas fa-bell" aria-hidden="true"></i>
                                    <% if(userSS && userSS.unReadNotifications && !isNaN(userSS.unReadNotifications)){ %>
                                        <% if(userSS.unReadNotifications > 9){ %>
                                            <span class="badge badge-danger">9+</span>
                                        <% }else{ %>
                                            <span class="badge badge-danger"><%= userSS.unReadNotifications %></span>
                                        <% } %>
                                    <% } %>
                                    Thông báo của bạn</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/collections"><i class="fas fa-bookmark"></i>   Bộ sưu tập</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/activities"><i class="far fa-clock"></i>   Hoạt động gần đây</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/reports"><i class="fas fa-flag"></i>   Báo cáo</a></li>
                                <li><a class="my-1 d-inline-block" href="/user/profile/tickets"><i class="fas fa-ticket-alt"></i>  Hỗ trợ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>    

            <% } %>
                <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                    <h6 class="font-weight-bold pt-4 pb-1">Gửi phiếu hỗ trợ</h6>

                    <h6 class="font-weight-bold pt-4 pb-1">Tiêu đề:</h6>
                        <input id="titleTicket" class="border w-100 p-2 bg-white" required>

                    <h6 class="font-weight-bold pt-4 pb-1">Chọn thể loại:</h6>
                    <select id="inputGroupSelect" class="w-100">
                        <option value="unlock_account">Mở khoá bài đăng</option>
                        <option value="unlock_user">Mở khoá tài khoản</option>
                    </select>

                    <div class="inputAccount">
                        <h6 class="font-weight-bold pt-4 pb-1">Nhập Id bài đăng:</h6>
                        <input id="accountId" class="border w-100 p-2 bg-white" placeholder="Ví dụ: 5f695d4d1748b50709b31db2">
                    </div>

                    <div class="inputUser d-none">
                        <h6 class="font-weight-bold pt-4 pb-1">Nhập email tài khoản:</h6>
                        <input id="userEmail" class="border w-100 p-2 bg-white" placeholder="Ví dụ: email@gmail.com">
                    </div>

                    <h6 class="font-weight-bold pt-4 pb-1">Lí do:</h6>
                    <textarea id="textTicketPost" class="border p-3 w-100" rows="7" placeholder="Miêu tả chi tiết nội dung bạn cần hỗ trợ"></textarea>

                    <div class="text-center">
                        <button class="btn btn-primary btnSubmit">Gửi phiếu hỗ trợ</button>
                    </div>
                </div>
</section>



<!--============================
=            Footer            =
=============================-->

<% include ../partials/footer %>
<script src="/plugins/jquery-resizable/jquery-resizable.min.js"></script>
<script src="/plugins/Trumbowyg/trumbowyg.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/emoji/trumbowyg.emoji.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/noembed/trumbowyg.noembed.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/upload/trumbowyg.upload.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/resizimg/trumbowyg.resizimg.min.js"></script>
<script src="/plugins/Trumbowyg/plugins/fontsize/trumbowyg.fontsize.js"></script>
<script src="/plugins/Trumbowyg/vi.min.js"></script>

<script src="/js/user/profile-ticket-create.js"></script>

</body>

</html>